.btn1{
    top: 377px;
    left: 526px;
    width: 158px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-021955) 0% 0% no-repeat padding-box;
    background: #021955 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1; color:white
}

.btn2{
    top: 377px;
    left: 703px;
    width: 158px;
    height: 50px;
    /* UI Properties */
    background: #B9B9B9 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1; color:white
}

.btn3{
    top: 377px;
    left: 880px;
    width: 158px;
    height: 50px;
    /* UI Properties */
    background: #F14A3F 0% 0% no-repeat padding-box;
    opacity: 1; color:white
}

.quote{
    top: 534px;
    left: 420px;
    width: 334px;
    height: 398px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B9B9B9;
    opacity: 1;
}

.badge{
    top: 534px;
    left: 601px;
    width: 153px;
    height: 38px;
    float: right;
    /* UI Properties */
    background: #FFA500 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}