
<div class="container  ">
    <div class="row mt-2">
        <div class="col-2"></div>
      <div class="col-md-12 col-lg-8  bg-white card">
        <form class="needs-validation mt-3" [formGroup]="formclient" (submit)="submit(formclient)">
          <div class="row g-4 ps-4">
            <label  class="form-label mb-0" >Add New Ticket</label>
            <hr class="mt-1 ">
            <div class="col-sm-6">

              <label for="firstName" class="form-label">Priority</label>
              <input type="text" formControlName="priority" class="form-control"  placeholder="Enter The Priority"  >

            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">ticket category</label>
              <input type="number" formControlName="ticket_category_id" class="form-control"  placeholder="Enter ticket category"  >

            </div>
            <div class="col-12">
              <label for="address" class="form-label">Problem Description</label>
              <input type="text" class="form-control" formControlName="description" id="address" placeholder="Please , describe your issue" >

            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Title</label>
              <input type="text" class="form-control" formControlName="title" id="address2" placeholder="Your Title">
            </div>

            <div class="col-12">
                <label for="address" class="form-label">Attachment</label>
                     <div class="m-auto " style=" border: 1px solid black; height:150px ;">
                      <input  type="file" class="form-control hidden" id="files"  /><br>

                      <label for="files" class="text-center" style="margin-left: 30% !important;">
                        You can add attachments in the next field </label>
                     </div>
              </div>

          </div>
          <div  style="margin-left: 25% !important;">
            <button class="w-75 btn btn-primary  my-3 " style="width:60% !important ;" type="submit">send</button>

          </div>
        </form>
      </div>
    </div>



