<!-- <app-sectionone></app-sectionone> -->
<div class=" container">
  <div class="row">
      <div class="col-3 ">
          <app-sidebar></app-sidebar>
      </div>
      <div class="col-9 ">
        
        <h2 class="text-start">Dashboard</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-12 align-items-md-center ">
          <div class="  card-body bg-white ">
            <div class="text-start ">
                <h3 class="fw-bold ms-2">REQUESTS LOCATIONS</h3>
                <p class="ms-2">15 requests </p>
                
                

<div class="row">
<h1 class="text-center">OUR INTERNATIONAL SERVCES</h1>
<div class="container m-auto">
  <div class="row mt-5">



        <div class=" col-4 ">
          <button class="btn btn-secondary dropdown-toggle" routerLink="/sea-new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Sea Freight
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="col-4  ">
          <button class="btn btn-secondary dropdown-toggle  " routerLink="/air-new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Air Freight
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="col-4  ">
          <button class="btn btn-secondary dropdown-toggle " routerLink="/new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Customs Clearnce
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>
</div></div>
<!-- <app-section-two></app-section-two>
<app-section-three></app-section-three>
 <app-section-fuor></app-section-fuor> -->
</div>
<br>
<br>
<br>

</div>
</div>
</div>
</div>


</div>
</div>

<section class=" container-fluid w-100">
    <app-footer></app-footer>
  </section>
