<app-sectionone></app-sectionone>
<h1 class="text-center">OUR INTERNATIONAL SERVCES</h1>
<div class="container m-auto">
  <div class="row mt-5">



        <div class=" col-4 ">
          <button class="btn btn-secondary dropdown-toggle" routerLink="/sea-new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Sea Freight
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="col-4  ">
          <button class="btn btn-secondary dropdown-toggle  " routerLink="/air-new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Air Freight
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>

        <div class="col-4  ">
          <button class="btn btn-secondary dropdown-toggle " routerLink="/new-request"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg me-2 fw-bold"></i>
            Customs Clearnce
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li></li>
            <li></li>
          </ul>
        </div>
</div></div>
<app-section-two></app-section-two>
<app-section-three></app-section-three>
 <app-section-fuor></app-section-fuor>
<section class=" container-fluid w-100">
    <app-footer></app-footer>
  </section>
