<h1 class="text-center pt-5">Accepted Qoutation Succssfully !</h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="row pt-4" >
  <div class="offset-lg-1 col-lg-2" >
    <div class="card">
      <h1>Payment</h1>
      <a [routerLink]='["/new-payment" ,this.order_id]' class="text-decoration-none"> New Payment</a><br>
      <a routerLink="/all-paymetns" class="text-decoration-none">All Payments</a>
      <img src="../../../../assets/Logisty ui images/payment.jpg"
                                alt="" class="m-auto"
                                style="width: 80px; border-radius: 10px;">
    </div>

  </div>

  <div class=" col-lg-2" >
    <div class="card">
      <h1>Chat</h1>
      <a routerLink="/new-chat" class="text-decoration-none">Add New Chat</a><br>
      <a routerLink="/all-chats" class="text-decoration-none">All Chats</a>
      <img src="../../../../assets/Logisty ui images/chat.jpg"
      alt="" class="m-auto"
      style="width: 80px; border-radius: 10px;">
    </div>
  </div>

  <div class="col-lg-2" >
    <div class="card">
      <h1>Rate</h1>
      <a [routerLink]='["/new-rate",this.order_id ]' class="text-decoration-none">Add New Rate</a><br>
      <a routerLink="/all-rates" class="text-decoration-none">All Rates</a>
      <img src="../../../../assets/Logisty ui images/rate.webp"
      alt="" class="m-auto"
      style="width: 80px; border-radius: 10px;">
    </div>
  </div>

  <div class="col-lg-2" >
    <div class="card">
      <h1>Notification</h1>
      <a routerLink="/new-notification" class=" text-decoration-none d-none">Add New Notification</a><br>
      <a routerLink="/all-notifications" class="text-decoration-none">All Notifications</a>
      <img  src="../../../../assets/Logisty ui images/notification .webp"
      alt="" class="m-auto pt-3"
      style="width: 80px; border-radius: 10px;">
    </div>
  </div>

  <div class="col-lg-2 "style="" >
    <div class="card">
      <h1>Tracking</h1>
      <a routerLink="/new-notification" class=" text-decoration-none d-none">Add New Notification</a><br>
      <a [routerLink]='["/track",this.order_id]' class="text-decoration-none">track this Order</a>
      <img  src="../../../../assets/Logisty ui images/track.png"
      alt="" class="m-auto pt-3"
      style="width: 80px; border-radius: 10px;">
    </div>
  </div>
</div>

</body>
</html>


