<div class=" container">
    <div class="row">
        <div class="col-3 ">
            <app-sidebar></app-sidebar>
      </div>




        <div class="col-9">
            <div class="row mt-5">

                  <div class="col-4 w-25 ">
                    <button class="btn btn-secondary dropdown-toggle  "  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-plus-lg me-2 fw-bold"></i>
                       Local Freight
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" routerLink="/local-new-request">New Request</a></li>
                      <li><a class="dropdown-item" routerLink="/local-send-request">All Requests</a></li>
                    </ul>
                  </div>

                  <div class=" col-4 w-25">
                    <button class="btn btn-secondary dropdown-toggle  "  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-plus-lg me-2 fw-bold"></i>
                      Sea Freight
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" routerLink="/sea-new-request">New Request</a></li>
                      <li><a class="dropdown-item" routerLink="/sea-send-request">All Requests</a></li>
                    </ul>
                  </div>

                  <div class="col-4  w-25">
                    <button class="btn btn-secondary dropdown-toggle  "  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-plus-lg me-2 fw-bold"></i>
                      Air Freight
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" routerLink="/air-new-request">New Request</a></li>
                      <li><a class="dropdown-item" routerLink="/air-send-request">All Requests</a></li>
                    </ul>
                  </div>

            </div>
        </div>
                <h2 class="text-start">Dashboard</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-12 align-items-md-center ">
                  <div class="  card-body bg-white ">
                    <div class="text-start ">
                        <h3 class="fw-bold ms-2">REQUESTS LOCATIONS</h3>
                        <p class="ms-2">15 requests </p>
                        <img class="w-100" src="../../../../../assets/Logisty ui images/world.svg" alt="" srcset="">

                     </div>
                  </div>
                 </div>

       </div>
</div>
