<div class=" container p-5">
  <div class="row">
      <div class="col-9">
          <section class="">
              <div class="container ">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col col-xl-12">
                    <div class="card mb-3" style="border-radius: 15px;">
                      <div class="card-body ">
                          <button class="btn btn-success float-end">Solved</button>
                        <h3 class="mb-3">Ticket Details</h3>
                        <hr>
                        <p class=" mb-0 fw-bold fs-5">I have a problem in payment </p>
                        <hr class="my-4">
                        <div class="d-flex justify-content-around align-items-center">
                          <p class="mb-0 text-uppercase"><span
                              class="text-muted small">Section <br> Payment</span></p>
                          <p class="mb-0 text-uppercase"><span
                              
                              class="text-muted small">Type <br> Problem</span></p>
                          <p class="mb-0 text-uppercase  "> <span
                              class="text-muted small">Priority<br>High</span>
                           
                        </div>
                        <hr class="my-4">
                        <div class="d-flex justify-content-around align-items-center">
                          <p class="mb-0 text-uppercase"><span
                              class="text-muted small">Total Rate</span></p>
                          <p class="mb-0 text-uppercase"> <span
                              class="text-muted small">Replies</span></p>
                          <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                              class="text-muted small">Fast Response</span></p>
                              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                                  class="text-muted small">Customer support</span></p>
                          
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
      </div>
      <div class="col-3">
          <section class="card-body">
              <div class="container ">
                <div class="row ">
                  <div class="col-12 col-md-12 col-lg-12 col-xl-12 bg-white">
                    <div class="" style="border-radius: 15px;">
                      <div class="">
                        <div class="d-flex text-black">
                          <div class="flex-shrink-0">
                            <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                              alt="" class="py-2"
                              style="width: 50px; border-radius: 10px;">                              
                          </div>
                          <div class="flex-grow-1 ms-3 py-2  text-black ">
                              <h5 class="mb-1 fw-bold">ahmed ali</h5>
                              <p class="fw-light ">Support</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          
            <section class="mt-3" >
              <div class="container  ">
                <div class="row d-flex justify-content-center align-items-center ">
                  <div class=" col-12 col-md-12 col-xl-12">
            
                    <div class="bg-white" style="border-radius: 15px;">
                      <div class="text-center">
                        <div class="mt-2 mb-4">
                          <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                            class="rounded-circle " style="width: 80px;" />
                          <div class="mt-3">
                                <h4 class="fw-bold ">ahmed ail</h4>
                                <p>Customer Support</p>
                          </div>
                        </div>
                  
                      </div>
                    </div>
            
                  </div>
                </div>
              </div>
            </section>
      </div>
  </div>
</div>
<section>
  <div class="container">
      <div class="row ps-5">
      
          <div class="col-9 card mt-2">
              <div class="" style="border-radius: 15px;">
                  <div class="">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0">
                        <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                          alt="" class="py-2"
                          style="width: 50px; border-radius: 10px;">
                      </div>
                      <div class="flex-grow-1 ms-3 py-2">
                        <h5 class="mb-1 fw-bold fs-6">ahmed ali</h5>
                        <p class="fw-light ">Support</p>
                        <p>2020/10/10 02:30</p>

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Quisquam aliquid molestiae impedit repellendus asperiores tenetur?</p>
                  <hr>
                  <p>doce.file </p>
          </div>
          <div class="col-9 card mt-2">
              <div class="" style="border-radius: 15px;">
                  <div class="">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0">
                        <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                          alt="" class="py-2"
                          style="width: 50px; border-radius: 10px;">
                      </div>
                      <div class="flex-grow-1 ms-3 py-2">
                        <h5 class="mb-1 fw-bold fs-6">ahmed ali</h5>
                        <p class="fw-light ">Support</p>
                        <p>2020/10/10 02:30</p>

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Quisquam aliquid molestiae impedit repellendus asperiores tenetur?</p>
                  <hr>
                  <p>doce.file </p>
          </div>
          <div class="col-9 card mt-2">
              <div class="" style="border-radius: 15px;">
                  <div class="">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0">
                        <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                          alt="" class="py-2"
                          style="width: 50px; border-radius: 10px;">
                      </div>
                      <div class="flex-grow-1 ms-3 py-2">
                        <h5 class="mb-1 fw-bold fs-6">ahmed ali</h5>
                        <p class="fw-light ">Support</p>
                        <p>2020/10/10 02:30</p>

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Quisquam aliquid molestiae impedit repellendus asperiores tenetur?</p>
                  <hr>
                  <p>doce.file </p>
          </div>
          <div class="col-9 card mt-2">
              <div class="" style="border-radius: 15px;">
                  <div class="">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0">
                        <img src="../../../../assets/Logisty ui images/Group 14437.jpg"
                          alt="" class="py-2"
                          style="width: 50px; border-radius: 10px;">
                      </div>
                      <div class="flex-grow-1 ms-3 py-2">
                        <h5 class="mb-1 fw-bold fs-6">ahmed ali</h5>
                        <p class="fw-light ">Support</p>
                        <p>2020/10/10 02:30</p>

                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Quisquam aliquid molestiae impedit repellendus asperiores tenetur?</p>
                  <hr>
                  <p>doce.file </p>
          </div>
          <label for="" class="fw-bold fs-4 my-3">Add reply</label>
          <textarea name="" id="" cols="10" rows="10" placeholder=""></textarea>
          <label for="" class="fw-bold fs-6 mt-2">add file</label>
          <input type="file" class="form-control ">
      </div>
  </div>
</section>
<section class="mt-5">
  <app-footer></app-footer>
</section>