<div class="container">
    <div class="row">
        <div class="col-3 col-md-3 col-lg-3">
          <app-company-side-bar></app-company-side-bar>     
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3 style="font-size:25px;" class="fw-bold mt-3 ms-2">Support Tickets</h3>
                                <button class="btn btn-danger float-end me-4" routerLink="/company-new-ticket">New
                                    Ticket</button>
                                <div class="dropdown">
                                    <button class="btn  dropdown-toggle float-end me-5 mb-3" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        data
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="body">
                                <div class="table-responsive ">
                                    <table class="table table-bordered table-striped table-hover  dataTable">
                                        <thead>
                                            <td></td>
                                            <th>Number</th>
                                            <th>Last update</th>
                                            <th>Section</th>
                                            <th>Type</th>
                                            <th>State</th>
                                            <th>Priority</th>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="fw-bold fs-6  ">Delivery state problem</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>2:30</td>
                                                <td>2020\10\30</td>
                                                <td>ahmed</td>
                                                <td>title</td>
                                                <td><button class=" btn btn-success"
                                                        routerLink="/companyticket-detalis">solved</button></td>
                                                <td>51654141</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-bold fs-6  ">Delivery state problem</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>2:30</td>
                                                <td>2020\10\30</td>
                                                <td>ahmed</td>
                                                <td>title</td>
                                                <td><button class=" btn btn-success">solved</button></td>
                                                <td>51654141</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-bold fs-6 ">Delivery state problem</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>2:30</td>
                                                <td>2020\10\30</td>
                                                <td>ahmed</td>
                                                <td>title</td>
                                                <td><button class=" btn btn-success">solved</button></td>
                                                <td>51654141</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-bold fs-6 ">Delivery state problem</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>2:30</td>
                                                <td>2020\10\30</td>
                                                <td>ahmed</td>
                                                <td>title</td>
                                                <td><button class=" btn btn-success">solved</button></td>
                                                <td>51654141</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-bold fs-6 ">Delivery state problem</td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>2:30</td>
                                                <td>2020\10\30</td>
                                                <td>ahmed</td>
                                                <td>title</td>
                                                <td><button class=" btn btn-success">solved</button></td>
                                                <td>51654141</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div>

    <section class="mt-5 container-fluid">
        <div class="row ">
            <div class="col-12">
                <app-footer></app-footer>

            </div>
        </div>

    </section>